<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommender System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .text-white{
            color:white;
        }
    </style>
</head>
<body style="Background-color:black">
    <nav class="navbar" style="Background-color:#00a65a">
        <p class="navbar-brand">My Book Recommender</p>
    </nav>
    <ul class="nav navbar-nav">
        <li><a>Home</a></li>
        <li><a href="/recommend">Recommend</a></li>
        <li><a>Contact</a></li>
    </ul>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="color:white;">Top 50 Books</h1>
            </div>
            {% for i in range(book_name|length) %}
            <div class="col-3" style="margin-top:50px">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ image[i] }}" alt="">
                        <h3>{{ book_name[i] }}</h3>
                        <p>{{ author[i] }}</p>
                        <p>Votes: {{ votes[i] }}</p>
                        <p>Ratings: {{ rating[i] }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>